
/.metadata
/javazone-fhs/target
/javazone-fhs/.classpath
/javazone-fhs/.project
/javazone-spk/.project
/javazone-spk/target
/javazone-spk/.classpath
/javazone-regulerkraft/.project
/javazone-regulerkraft/target
/javazone-regulerkraft/.classpath